<!DOCTYPE html>
<html>
<head>
    {{!Bower inludes}}
        
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/paper-tabs/paper-tab.html">
    <link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
    <link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
    <link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
     <link rel="import" href="/bower_components/paper-card/paper-card.html">
        <link rel="import" href="/bower_components/paper-material/paper-material.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/bower_components/paper-styles/paper-styles.html">
    <link rel="import" href="/bower_components/paper-styles/default-theme.html">
    <link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">




    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <style is="custom-style">
    :root{
        --primary-text-color: var(--dark-theme-text-color);

    }

    a{
        text-decoration: none;
        color: var(--light-theme-secondary-color);
    }

    paper-toolbar a{
        color: white;
    }

            
  paper-tab[link] a {
    /* These mixins (from iron-flex-layout) center the link text. */
    @apply(--layout-horizontal);
    @apply(--layout-center-center);
    color: #fff;
    text-decoration: none;
    height: 100%;
  }



    </style>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>


<body class="fullbleed layout vertical {{body_class}} nav-closed">
<paper-header-panel mode="waterfall" class="flex">
<paper-toolbar>

    <div class="title"><h1>{{@blog.title}}</h1></div>
   
    </paper-toolbar>
    <paper-toolbar>
     {{navigation}}
    </paper-toolbar>



        
        {{! Everything else gets inserted here }}
        {{{body}}}
        

    </paper-header-panel>
            <paper-toolbar class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </paper-toolbar>


    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
