{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}
<paper-header-panel mode="cover" class="flex fit center {{post_class}}">
<paper-toolbar class="tall paper-header main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
<div class="bottom title"><h1>{{title}}</h1></div>
</paper-toolbar>


    <paper-card heading="{{title}}" class="content ">


        <section class="card-content post-content">
            {{content}}
        </section>

    </paper-card>

</paper-header-panel>
{{/post}}
